@model LabelStation.Models.HudsonH1PWP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HudsonH1PWP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePartA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePartA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePartB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePartB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodePartC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePartC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
