@model IEnumerable<LabelStation.Models.ScanLabel>

@{
    ViewData["Title"] = "Kanban";
    Layout = "~/Views/Shared/_Layout_Hudson.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }
}

<h1 class="mt-5">Scan Label Print Multiple</h1>

<partial name="_pager" model="@pager" />

<form asp-action="EditListPost">
    <input class="btn btn-primary" type="submit" value="Print Cards" />
    <table class="table table-bordered table-striped table-responsive m-auto mt-2">
        <thead>
            <tr>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.ScanLabelId)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.ItemNumber)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.ItemDescription)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.PrintLabel)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.ImageLocation)
                </th>                
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m.ToList()[i].ScanLabelId)
                        @Html.DisplayFor(m => m.ToList()[i].ScanLabelId)
                    </td>
                    <td class="fit">
                        @Html.HiddenFor(m => m.ToList()[i].ItemNumber)
                        @Html.DisplayFor(m => m.ToList()[i].ItemNumber)
                    </td>
                    <td class="fit">
                        @Html.HiddenFor(m => m.ToList()[i].ItemDescription)
                        @Html.DisplayFor(m => m.ToList()[i].ItemDescription)
                    </td>
                    <td class="fit">
                        @Html.DropDownListFor(m => m.ToList()[i].PrintLabel, new List<SelectListItem> {
                    new SelectListItem { Text = "Yes", Value = "Yes" },
                    new SelectListItem { Text = "No", Value = "No" }
                    }, "Select Option", new { @class = "dropdown-item"})
                    </td>
                    <td class="fit">
                        @Html.HiddenFor(m => m.ToList()[i].ImageLocation)
                        @Html.DisplayFor(m => m.ToList()[i].ImageLocation)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


