@model LabelStation.Models.ItemNumber

@{
    ViewData["Title"] = "Details " + Model.Item;
    Layout = "~/Views/Shared/_Layout_Juarez.cshtml";
}

<h1 class="mt-5">Details @Model.Item</h1>

<div>
    <h4>ItemNumber</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit_Juarez" asp-route-id="@Model?.ID">Edit</a> |
    <a class="btn btn-secondary" asp-action="Index_Juarez">Back to List</a>
</div>
