@model IEnumerable<LabelStation.Models.ItemNumber>

@{
    ViewData["Title"] = "Item Numbers";
    Layout = "~/Views/Shared/_Layout_Juarez.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }
}

<h1 class="mt-5">Items</h1>

<p>
    <a class="btn btn-primary" asp-action="Create_Juarez">Create New</a>
</p>

<partial name="_pager" model="@pager" />

<div class="container-fluid table-responsive">
    <table id="itemNumber" class="table table-bordered table-striped w-auto">
        <thead>
            <tr>
                <th>
                    Item Number
                </th>                
                <th>
                    Item Description
                </th>
                <th>
                    Item Type
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(pagerItem => item.Item)
                    </td>
                    <td>
                        @Html.DisplayFor(pagerItem => item.ItemDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(pagerItem => item.ItemType)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit_Juarez" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-warning" asp-action="Details_Juarez" asp-route-id="@item.ID">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete_Juarez" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
    }
        </tbody>
    </table>
</div>

